@use './animations';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

$poppins: 'Poppins', sans-serif;
$medium: 964px;
$small-tablet: 820px;
$small: 484px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
    font-size: 16px;
}

#root {
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    line-height: 150%;

    @media screen and (max-width: $small) {
        font-size: 1.8rem;
        font-weight: normal;
    }
}

p {
    font-size: 1rem;
    margin: 1rem;
    padding: 0 1rem;
    color: #333;

    strong {
        font-weight: 900;
        text-transform: uppercase;
    }
}

input,
select {
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.countrySelect {
    @media screen and (max-width: $small) {
        width: 100%;
    }
}

button {
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 0 2rem 0;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    margin-top: 2rem;
    padding: 20rem 0;
}

label {
    font-size: 1rem;
    padding: 0 1rem 0 0;
}

label.consentLabel {
    font-size: 0.9rem;
    padding: 0 0 0 1rem;
}

.fields {
    self-align: center;
    margin-top: 1.2rem;

    @media screen and (max-width: $small-tablet) {
        margin: 0 1rem;
    }

    @media screen and (max-width: $small) {
        margin: 0 2rem;
    }
}

.wrapper {
    margin-top: 1rem;
}

.inputWrapper {
    padding: 1rem;
    background: #e3e3e3;
    border-radius: 0.6rem;

    margin-top: 1rem;

    @media screen and (max-width: $medium) {
        max-width: 50rem;
    }

    @media screen and (max-width: $small-tablet) {
        max-width: unset;
    }

    @media screen and (max-width: $small) {
        max-width: unset;
    }
}

.notes {
    font-size: 0.8rem;
    color: gray;

    padding-top: 0.5rem;
}

.error {
    color: red;
    font-size: 0.8rem;

    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: fadeUp;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;

    transform: translateY(1.5rem);

    will-change: opacity, transform;
}

.App-logo {
    position: fixed;
    width: 1000px;
    top: -400px;
    right: -400px;

    @media screen and (max-width: $medium) {
        width: 500px;
        top: -150px;
        right: -150px;
    }
}

.link,
.counter {
    font-size: 20px;
    padding: 15px 25px;
    background-color: black;
    color: white;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.link {
    border: 1px black solid;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 25px;
    margin-top: 10px;
}

nav ul li {
    margin-right: 25px;
}

nav ul li:first-child {
    font-size: 2.5rem;

    @media screen and (max-width: $small) {
        font-size: 2rem;
    }
}

nav ul li a {
    color: black;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: $small-tablet) {
        margin: 0 1rem;
    }

    @media screen and (max-width: $small) {
        margin: 0 2rem;
    }
}

footer {
    padding: 2rem 0 1rem 2rem;

    @media screen and (max-width: $small) {
        padding: 1rem 0 1rem 1rem;
    }
}

footer img {
    vertical-align: middle;

    width: 32px;
    height: auto;

    &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

footer a {
    color: #32cd32;
    font-size: inherit;
}

.copyright {
    font-size: 0.85rem;

    span {
        font-size: 0.85rem;
    }
}

.logoWrapper {
    width: 2rem;
    height: auto;

    color: #000;

    svg {
    }
}

.lineChartGraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem 0 2rem 0;

    @media screen and (max-width: $medium) {
        display: flex;
    }

    @media screen and (max-width: $small-tablet) {
        display: flex;
    }

    @media screen and (max-width: $small) {
        display: none;
    }

    p {
        margin-left: 0;
        padding-left: 0;
    }
}

#root:before {
    border-radius: 10px 10px 0 0;
    content: '';
    background-image: repeating-linear-gradient(
        -45deg,
        white 0px,
        white 15px,
        #32cd32 15px,
        #32cd32 30px,
        white 30px,
        white 45px,
        #ffff00 45px,
        #ffff00 60px
    );
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0px;
}
