@use './animations';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

$poppins: 'Poppins', sans-serif;
$medium: 1650px;
$small: 1120px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
    font-size: 16px;
}

#root {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

h1 {
    font-size: 1rem;
    font-weight: 900;
    line-height: 150%;

    @media screen and (max-width: $medium) {
        font-size: 2rem;
    }

    @media screen and (max-width: $small) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1rem;
    margin-left: 1rem;

    @media screen and (max-width: $small) {
        font-size: 20px;
    }
}

input,
select {
    padding: 0.3rem;
}

button {
    padding: 0.8rem;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    padding: 1rem 0;
}

label {
    padding: 0 1rem 0 0;
}

.requiredFields,
.optionalFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    min-width: 50%;
}

.wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

.inputWrapper {
    padding: 1rem;
    background: #e3e3e3;
    border-radius: 0.6rem;

    margin-top: 1rem;
}

.notes {
    font-size: 0.8rem;
    color: gray;

    padding-top: 0.5rem;
}

.App-logo {
    position: fixed;
    width: 1000px;
    top: -400px;
    right: -400px;
    @media screen and (max-width: $medium) {
        width: 500px;
        top: -150px;
        right: -150px;
    }
}

.link,
.counter {
    font-size: 20px;
    padding: 15px 25px;
    background-color: black;
    color: white;
    position: relative;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.link {
    border: 1px black solid;
    transition: 0.3s;

    &:hover {
        background-color: white;
        color: black;
        transition: 0.3s;
    }
}

nav {
    position: fixed;
    height: 100px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 25px;
    margin-top: 10px;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

#root:before {
    border-radius: 10px 10px 0 0;
    content: '';
    background-image: repeating-linear-gradient(
        -45deg,
        white 0px,
        white 15px,
        #32cd32 15px,
        #32cd32 30px,
        white 30px,
        white 45px,
        #ffff00 45px,
        #ffff00 60px
    );
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0px;
}

#root:after {
    border-radius: 0px 0px 10px 10px;
    content: '';
    background-image: repeating-linear-gradient(
        -45deg,
        white 0px,
        white 15px,
        #32cd32 15px,
        #32cd32 30px,
        white 30px,
        white 45px,
        #ffff00 45px,
        #ffff00 60px
    );
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: 0;
}
